{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} Editer un bouquet
{% endblock %}

{% block content %}
    {% include 'Bouquet/_form.html.twig' %}
    <a class="uk-button uk-button-primary" href="/Bouquet/show/{{ bouquet.id }}">Back</a>
{% endblock %}
