{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit Bouquet {{ bouquet.nom }}</h1>
    {% include 'Bouquet/_form.html.twig' %}
    <a href="/bouquet/show/{{ bouquet.id }}">Back</a>
{% endblock %}
