{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} Bouquet
{% endblock %}

{% block content %}
     <div class="uk-text-right">
        <a href="/Gallerie/index" title="Ajouter une image" class="uk-button uk-button-primary uk-margin">Ajouter une image</a>
    </div>
    <div class="uk-text-center">
        <img id="logo"src="/assets/images/logo.png">
        <p>Stras'Bouquet</p>
    </div>
    <h1 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Espace de gestion</span></h1>
    {% include 'Bouquet/_tableau.html.twig' %}
{% endblock %}