{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-text-center">
        <img id="logo"src="/assets/images/logo.png">
        <p>Stras'Bouquet</p>
    </div>
    <h1 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Espace de gestion</span></h1>
    <h2 class="uk-text-center">Liste des bouquets</h2>
    {% include 'Bouquet/_tableau.html.twig' %}
{% endblock %}