{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} Créer un bouquet personnalisé
{% endblock %}

{% block content %}
    <h1>Bouquets personnalisés</h1>
    <ul>
        {% for concept in concepts %}
        <li>{{ concept.id }}</li>
        {% endfor %}
    </ul>
    <a href="/Concept/create">Créer un bouquet</a>

{% endblock %}