{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} Création bouquet
{% endblock %}

{% block content %}
    <!-- Catalogue unitaire -->
    {% include 'Concept/create.html.twig' %}

    <!-- Création bouquet -->
    <div class="uk-container uk-margin-medium uk-width-1-2@m">
        <h3>Mon bouquet</h3>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>id user</th>
                <th>id panier</th>
            </tr>
            <td>
                {{ concept.id_user }}
            </td>
            <td>
                {{ concept.id_panier }}
            </td>
        </table>
        <div>
            <a class="uk-button uk-button-default" href="../index">Retour</a>
            <a class="uk-button uk-button-primary" href="#">Ajouter au panier</a>
            <a class="uk-button uk-button-danger" href="../delete/{{ concept.id }}">Supprimer</a>
        </div>
    </div>
{% endblock %}