{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} Bouquet créé
{% endblock %}

{% block content %}
    {% include 'Concept/create.html.twig' %}
    <div class="uk-container">
        <h2>Mon bouquet</h2>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>id user</th>
                <th>id panier</th>
            </tr>
            <td>
                {{ concept.id_user }}
            </td>
            <td>
                {{ concept.id_panier }}
            </td>
        </table>
        <form action="delete/{{ concept.id }}" method="post">
            <button type="submit" name="delete">Supprimer</button>
        </form>
    </div>
{% endblock %}