{% extends 'layout.html.twig' %}
{% block title %}
{{ parent()}} Accueil
{% endblock %}

{% block content %}
    <div class="uk-text-center">
        <img id="logo"src="/assets/images/logo.png">
        <p>Stras'Bouquet</p>
    </div>
    <h1 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Espace de gestion</span></h1>
        <div>
            <h3 class="uk-margin-large-top uk-margin-medium-bottom uk-margin-medium-left">Les dernières commandes passées</h3>
            <table class="uk-table uk-table-divider uk-table-hover uk-margin uk-box-shadow-large uk-background-default">
                <thead class="uk-background-muted ">
                <th class="uk-table-expand">Nom du client</th>
                <th class="uk-table-expand">Total de la commande</th>
                <th class="uk-table-expand">Fiche récap</th>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td class="uk-table-expand">Aucune commande trouvée</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

{% endblock %}
