<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Stras'Bouquet - {% endblock %}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/public.css">

    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">

</head>
<body>
{% include ('./Layout/navbar.html.twig') %}
<section class="uk-container uk-padding-large">
    {% block content %}{% endblock %}
</section>
{% include ('./Layout/footer.html.twig') %}
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.0/dist/js/uikit-icons.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>