/* Début de Classes et id global*/
.uk-alert{
    background-color: white;
}
.uk-button-primary, .uk-button-primary:hover, .uk-background-primary, .uk-active {
    background-color:  #a7d627;
}
.uk-open {
    padding: 10px;
}
.uk-open .uk-accordion-title {
    color:  #a7d627;
    font-weight: bold;
}
.uk-icon{
    color: #a7d627;
}
.uk-button-default, .uk-button-default:hover {
    background-color: white;
}
#btn-reset li{
    list-style: none;
}
#btn-reset a{
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
}
#nav-interne-a{
    position: fixed;
    top:20%;
    right: 50px;
    display: flex;
    flex-direction: column;
}
#nav-interne-a {
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #a7d627;
}
#nav-interne-b{
    position: fixed;
    top:80%;
    right: 50px;
    display: flex;
    flex-direction: column;
}
#nav-interne-b {
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #a7d627;
}

.card-perso{
    padding: 0;
    margin: 0 10px;
    width: 23%;
    align-items: center;
    border-radius: 7px;
}
.titre-th th{
    color: white;
}
/* Fin de Classes global*/
@import url('fonts.css');

body{
    background-color: rgba(248, 239, 186, 0.50);
}
h1, h2, h3 {
    font-family: 'Merienda', cursive;
    color: rgb(52, 52, 74);
}

.card-perso h3{
    text-align: center;
    color: #34344A;
    background-color: #f8f8f8;
    margin: 0;
    padding: 5px;
    border-radius: 7px 7px 0 0;
}
.card-perso p {
    font-weight: bold;
    margin: 0;
}
.card-perso-ctn  {
    text-align: center;
    padding: 5% 5% 5% 5%;
    background-color: white;
    border-radius: 0 0 7px 7px;
}
.card-perso-ctn a {
    margin: 10px;
}
.card-perso-ban{
    background-color: #F5E6E8;
    text-align: center;
    padding: 2%;
}
#details {
    opacity: 0;
    transition-duration: 1s;
    margin: 0;
    background-color: #F5E6E8;
}
 .card-perso:hover #details{
    opacity: 1;
     color: black;
}
 #recherche{
     margin :0 0 50px 0;
 }
#filter-inline li{
    display: inline-block;
}
 .modal-img-arround{
     border-radius: 5px;
 }

@media screen and (max-width: 1117px) {
    .card-perso {
        width: 40%;
        margin: 0 auto;
    }
}
/* Début de Navbar */
nav img{
    width: 36px;
    height: 36px;
}
/* Fin de Navbar */

/* Début de Footer */

#footer-flex {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 20px 0;
}

footer ul {
   padding: 20px 0;
    margin-top: 0;
}
footer li {
    margin: 10px 0;
    list-style: none;
}
footer li a {
    color: #999;
}
footer a:hover{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}
#logo-footer {
    width: 10%;
    height: auto;
}
footer a img {
    max-width: 48px;
    max-height: 48px;
    margin: 0 10px;
}
#footer-flex div {
    display: flex;
    align-items: center;
}
#footer-flex div a {
    margin: 10px 0;
    text-decoration: none;
    color: white;
}
/* Fin de Footer */

/* Force icon navbar */
#icon-search {
    color: white;
}