/* Début de Classes global*/
.uk-alert{
    background-color: white;
}
.uk-button-primary, .uk-button-primary:hover, .uk-background-primary {
    background-color:  #a7d627;
}
.titre-th th{
    color: white;
}
/* Fin de Classes global*/
/* Début de Navbar */
nav img{
    width: 36px;
    height: 36px;
}
/* Fin de Navbar */

/* Début de Footer */

#footer-flex {
    display: flex;
    justify-content: space-around;
    background-color: #a2a2a2;
    padding: 20px 0;
}
footer ul {
   padding: 20px 0;
    margin-top: 0;
}
footer li {
    margin: 10px 0;
    list-style: none;
}
footer li a {
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}
#logo-footer {
    width: 10%;
    height: auto;
}
footer a img {
    max-width: 48px;
    max-height: 48px;
    margin: 0 10px;
}
#footer-flex div {
    display: flex;
    align-items: center;
}
#footer-flex div a {
    margin: 10px 0;
    text-decoration: none;
    color: white;
}
/* Fin de Footer */