body {
    background: lightgray;
    min-height: 100vh;
    display: flex;
}

table {
    background: white;
}

#logo {
    width: 4vw;
    margin-top: -3vh;
}
section {
    width: 100%;
}
#navbar #admin {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12rem;
    background-color: #2d3436;
    position: sticky;
    top:0px;
    height: 100vh;
    overflow: auto;
}
#navbar li {
    margin: 20px 0;
}
#navbar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition-duration: 1s;
}
#navbar li a:hover {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}