{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} A propos
{% endblock %}

{% block content %}
    <img src="https://zupimages.net/up/20/20/t7vf.png">
    <div>
        <h1>a propos de Stras'Bouquet</h1>
        <h2>Histoire</h2>
        <p>Créé en 2000, le site Stras'bouquet.com est édité par TYPF Group (groupe Wild Code School).
            Réalisé par une équipe professionnelle de 4 développeur,
            Stras'bouquet.com rassemble plus de 9 millions de visiteurs uniques (Médiamétrie Netratings, juin 2016).</p>
        <h3>Philosophie</h3>
        <p>Notre capacité humaine à apprendre de nouvelle compétences à l’infini nous permet de nous accomplir au sein
            d’une communauté, d’apporter notre contribution à notre société
            et de conserver notre liberté en tant qu’individu.</p>
    </div>
{% endblock %}