{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} A propos
{% endblock %}

{% block content %}
    <div class="uk-margin uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-rounded">
        <img class="uk-border-rounded uk-position-relative uk-position-bottom-center" src="https://zupimages.net/up/20/20/t7vf.png">
        <div>
            <h1 class="uk-text-uppercase uk-position-relative uk-position-bottom-center">A propos de nous</h1>
            <h2>Histoire</h2>
            <p>Cette petite entreprise Strasbourgeoise est portée par le Fleuriste Yavuz KUTUK depuis 200 et a toujours été au plus proche de ses clients
            En effet, les locaux se situent dans la petite France, adorable quartier Strasbourgeois, empli de fleurs et de délices. La porte est toujours ouverte et l'ccueil y est chaleureux.
            Vous pouvez le retrouver tous les jours en train de décorer et arranger sa boutique au gré des saisons. Le moindre détail est pris en compte.</p>

            <h2>Site Web</h2>
            <p>Créé en 2020, le site Stras'bouquet.com est  par TYPF Group (groupe Wild Code School).
                Il a été réalisé par une équipe professionnelle de 4 développeur,
                Stras'bouquet.com rassemble plus de 9 millions de visiteurs uniques (Médiamétrie Netratings, mai 2020).</p>

            <h3>Philosophie</h3>
            <p>Notre capacité humaine à apprendre de nouvelle compétences à l’infini nous permet de nous accomplir au sein
                d’une communauté, d’apporter notre contribution à notre société
                et de conserver notre liberté en tant qu’individu.</p>
        </div>
    </div>
{% endblock %}