{% extends 'layoutp.html.twig' %}
{% block title %}
    {{ parent()}} Accueil
{% endblock %}


{% block content %}
    <div>
        <h1>Bienvenue chez Stras'Bouquet !</h1>
    </div>
    <section class="uk-section" id="index-concept">
        <h2>Notre concept</h2>
        <p>Laissez libre court à votre <strong>créativité</strong> et concevez vous-même vos bouquets à partir de notre catalogue de fleurs, feuilles et herbes.</p>
        <p>Essayez maintenant !</p>
        <a href="/Concept/create" class="uk-button uk-button-primary">Je crée mon bouquet</a>
    </section>
{% endblock %}