<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a href="index">Home</a></li>
            <li>
                <a href="/Bouquet/index">Bouquet</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">Ajouter</a></li>
                        <li><a href="#">Supprimer</a></li>
                        <li><a href="#">Modifier</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/BouquetConcept/index">BouquetConcept</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/BouquetConcept/add">Ajouter</a></li>
                        <li><a href="/BouquetConcept/delete">Supprimer</a></li>
                        <li><a href="/BouquetConcept/update">Modifier</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/CatalogueU/index">Catalogue Unitaire</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/CatalogueU/add">Ajouter</a></li>
                        <li><a href="/CatalogueU/delete">Supprimer</a></li>
                        <li><a href="/CatalogueU/update">Modifier</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/User/index">User</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/User/add">Ajouter</a></li>
                        <li><a href="/User/delete">Supprimer</a></li>
                        <li><a href="/User/update">Modifier</a></li>
                    </ul>
                </div>
            </li>


        </ul>

    </div>
</nav>