<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/Front/index">Stras'bouquet</a></li>
            <li>
                <a href="/Cart/showBouquet">Bouquet</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">Lien 1</a></li>
                        <li><a href="#">Lien 2</a></li>
                        <li><a href="#">Lien 3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Concept/index">Bouquet personnalisé</a>
            </li>
            <li>
                <a href="/User/add">Inscription</a>
            </li>
            <li>
                <a href="/Account/login">Connexion</a>
            </li>
            <li>
                <a href="/Account/logout">Déconnexion</a>
            </li>
            <li>
                <a href="/Cart/showCart/">Panier</a>
            </li>
            <li>
                <a href="/User/show/{{ userid }}">Profil</a>
            </li>
            <li>
                <a href="/Home/index/">Panel admin</a>
            </li>
        </ul>
    </div>
</nav>