<nav id="navbar">
    <ul id="admin">
        <li><a href="/Home/index/"><span uk-icon="home"></span> Accueil</a></li>
        <li><a href="/Bouquet/index"><span uk-icon="lifesaver"></span> Bouquets</a></li>
        <li><a href="/CatalogueU/index"><span uk-icon="thumbnails"></span> Catalogue Unitaire</a></li>
        <li><a href="/User/index"><span uk-icon="users"></span> Utilisateurs</a></li>
        <li><a href="/Galerie/index"><span uk-icon="image"></span> Galerie</a></li>
        <li><a href="/Front/index"><span uk-icon="reply"></span> Sortir du panel</a></li>
        <li><a href="/Account/logout"><span uk-icon="sign-out"></span> Déconnexion</a></li>
    </ul>
</nav>
