
<nav id="navbar">
    <ul id="admin">
        <li><a href="/Home/indexsrc/"><span uk-icon="home"></span> Accueil</a></li>
        <li><a href="/Bouquet/index"><span uk-icon="lifesaver"></span> Bouquet</a></li>
        <ul>
            <li><a href="/Bouquet/add">Ajouter</a></li>
        </ul>
        <li><a href="/CatalogueU/index"><span uk-icon="thumbnails"></span> Catalogue Unitaire</a></li>
        <li><a href="/User/index"><span uk-icon="users"></span> Utilisateurs</a></li>
    </ul>
</nav>