<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/Front/index">Strasbouquet</a></li>
            <li>
                <a href="/Front/bouquets">Bouquets</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/Front/filter/Mariage">Mariage</a></li>
                        <li><a href="/Front/filter/Remerciement">Remerciement</a></li>
                        <li><a href="/Front/filter/Anniversaire">Anniversaire</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Concept/index">Bouquet personnalisé</a>
            </li>
            <li>
                <a href="/Front/contact">Contact</a>
            </li>
            {% if session.role == "disconnect" %}
                <li>
                    <a href="/User/add">Inscription</a>
                </li>
                <li>
                    <a href="/Account/login">Connexion</a>
                </li>
            {% endif %}
            {% if session.role != "disconnect" %}
              <li>
                    <a href="/Account/logout">Déconnexion</a>
              </li>
              <li>
                  <a href="/User/show/{{ session.user }}">Profil</a>
              </li>
                {% if session.id_panier != null %}
                    <li>
                        <a href="/Cart/showCart/{{ session.id_panier }}">
                            <img src="/assets/images/panier.png" alt="panier" />
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if session.role == "admin" %}
              <li>
                  <a href="/Home/index/">Panel admin</a>
              </li>
            {% endif %}
        </ul>
    </div>

    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
                <form action="/Front/recherche" method="post">
                    <input class="uk-input uk-form-width-small uk-form-small uk-border-rounded" type="text" name="mot" placeholder="ex: Bouquet">
                    <button class="uk-button uk-button-primary uk-border-rounded uk-button-small" type="submit" name="form" value="Rechercher">Rechercher</button>
                </form>
        </div>
    </div>
</nav>
